<launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find snowsquirrel_description)/urdf/robot.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="snowsquirrel">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multi_robot)/launch/snowsquirrel.launch" >
      <arg name="init_pose" value="-x -7 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="mammoth">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find multi_robot)/launch/mammoth.launch" >
    </include>
  </group>
</launch>
